{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindFlow</title>
    <link rel="stylesheet" href="{% static 'app/styles/login.css' %}">
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'app/images/MindFlow-icon.ico' %}">
</head>
<body>
    <h1 class="main-title"><a href="/">MindFlow</a></h1>
    <div class="form-container">
        <h2 class="login-title">Вход</h2>
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="username">Email:</label>
                {{ form.username }}
            </div>
            <div class="input-group">
                <label for="password">Пароль:</label>
                {{ form.password }}
            </div>
            <button class="login-btn" type="submit">Войти</button>
        </form>
        <div class="login-register">
            <p>Нет аккаунта?</p>
            <a href="/signup">Зарегистрироваться</a>
        </div>
    </div>
</body>
</html>