{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindFlow</title>
    <link rel="stylesheet" href="{% static 'app/styles/notes.css' %}">
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'app/images/MindFlow-icon.ico' %}">
</head>
<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="header-container">
                <a href="/" class="logo">
                    <h1>MindFlow</h1>
                </a>
                <nav class="nav">
                    <a href="/notes" class="nav-link-active">Notes</a>
                    <a href="/todo" class="nav-link">Todo</a>
                </nav>
                <div class="user-info">
                    <img src="{% static 'app/images/manIcon.svg' %}" alt="User Icon" class="user-icon">
                    <span class="username">{{ user }}</span>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="main-wrapper">
            <div class="main-container">
                <div class="main-title">
                    <h2>Notes</h2>
                    <p>Оставьте свои мысли и идеи ниже:</p>
                </div>
                <form class="notes-section" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="save-btn">Сохранить</button>
                </form>
                <div class="notes-display">
                    <h3>Ваши заметки:</h3>
                    {% for note in notes %}
                    <div class="note" data-note-id="{{ note.id }}">
                        <div class="note-container">
                            <p>{{ note.text }}</p>
                        </div>
                        <div class="second-note-container">
                            <button class="delete-btn">Удалить</button>
                            <span class="note-time">{{ note.creation_date|date:"d.m.Y" }} {{ note.creation_time }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        © 2024 MindFlow. Все права защищены.
    </footer>

    <script src="{% static 'app/js/notes.js' %}"></script>
</body>
</html>