{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindFlow</title>
    <link rel="stylesheet" href="{% static 'app/styles/todo.css' %}">
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'app/images/MindFlow-icon.ico' %}">
</head>
<body>
    <header class="header">
        <div class="header-wrapper">
            <div class="header-container">
                <div class="logo">
                    <a href="/"><h1>MindFlow</h1></a>
                </div>
                <nav class="nav">
                    <a href="/notes" class="nav-link">Notes</a>
                    <a href="/todo" class="nav-link active">Todo</a>
                </nav>
                <div class="user-info">
                    <img src="{% static 'app/images/manIcon.svg' %}" alt="User Icon" class="user-icon">
                    <span class="username">{{ user }}</span>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="main-wrapper">
            <div class="main-container">
                <div class="main-title">
                    <h2>Todo</h2>
                    <p>Запланируйте что-нибудь:</p>
                </div>
                <form class="todo-section" method="post">
                    {% csrf_token %}
                    {{ form.text }}

                    <div class="buttons">
                        <div>
                            {{ form.planned_date }}
                            {{ form.planned_time }}
                        </div>
                        <button class="save-btn" type="submit">Сохранить</button>
                    </div>
                </form>
                <div class="todo-display">
                    <h3>Ваши планы:</h3>
                    {% for todo_data in todos_data %}
                    <div class="todo-date">
                        <div class="today">
                            <p class="todo-date-text">{{ todo_data.planned_date }}</p>
                            {% for todo in todo_data.todos %}
                            <div class="todo-today" data-todo-id="{{ todo.id }}">
                                <label class="todo-label">
                                    <input type="checkbox" class="todo-checkbox" data-todo-id="{{ todo.id }}">
                                    <span>{{ todo.text }}</span>
                                </label>
                                <button class="delete-btn">Удалить</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        © 2024 MindFlow. Все права защищены.
    </footer>

    <script src="{% static 'app/js/todo.js' %}"></script>
</body>
</html>
