@font-face {
    font-family: "EncodeSansSC";
    src: url({% static 'app/fonts/EncodeSansSC-Light.woff2'%})  format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "EncodeSansSC";
    src: url({% static 'app/fonts/EncodeSansSC-Regular.woff2'%}) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "EncodeSansSC";
    src: url({% static 'app/fonts/EncodeSansSC-SemiBold.woff2'%}) format("woff2")';
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
    --main-font-family: "EncodeSansSC";
    --main-text-color: #000000;
    --second-text-color: #FFFFFF;
    --first-color: #A4C3B2;
    --second-color: #6B9080;
    --third-color: #CCE3DE;
    --fourth-color: #EAF4F4;
    --fifth-color: #F6FFF8;
    --gradient-bg: linear-gradient(135deg, #EAF4F4, #CCE3DE, #A4C3B2);
    --gradient-btn: linear-gradient(90deg, #6B9080, #A4C3B2);
}

body {
    font-family: var(--main-font-family), sans-serif;
    line-height: 1.6;
    color: var(--main-text-color);
    background: var(--gradient-bg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.logo h1 {
    font-size: 2.8rem;
    color: var(--main-text-color);
}

.description-wrapper {
    margin: 0 auto;
    padding: 0px 30px 32px 30px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.description-text {
    color: var(--main-text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    max-width: 700px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.man-icon {
    width: 36px;
    height: 45px;
}

.login-button,
.register-button {
    color: var(--second-text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 18px;
    background: var(--second-color);
    border-radius: 30px;
    padding: 11px 16px;
    border: none;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.login-button:hover,
.register-button:hover {
    transform: scale(1.05);
}

.screenshots-wrapper {
    margin: 0 auto;
    padding: 0px 19px 32px 19px;
}

.screenshots-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.notes-screenshot, .todo-screenshot {
    display: flex;
    flex-direction: column;
}

.notes-screenshot-title, .todo-screenshot-title {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.9px;
    line-height: 18px;
    margin-bottom: 10px;
}

.notes-screenshot-img, .todo-screenshot-img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    position: relative;
    background: var(--gradient-btn);
    color: var(--second-text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.footer-wrapper {
    margin: 0 auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-law-text {
    font-family: var(--main-font-family);
    color: var(--second-text-color);
    text-align: center;
    font-size: 1rem;
    line-height: 11px;
    font-weight: 400;
    padding: 9px;
}

@media (min-width: 1024px) {
    .main {
        flex-direction: column;
        gap: 100px;
        align-items: center;
        padding: 80px 50px;
    }

    .description-wrapper {
        max-width: 700px;
        padding: 0 30px;
    }

    .description-container {
        align-items: center;
        justify-content: center;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .description-text {
        font-size: 1.6rem;
        max-width: 600px;
    }

    .login {
        flex-direction: column;
        gap: 10px;
    }

    .screenshots-wrapper {
        display: flex;
        justify-content: center;
    }

    .screenshots-container {
        gap: 40px;
        flex-direction: column;
    }

    .notes-screenshot-title, .todo-screenshot-title {
        font-size: 2rem;
    }

    .notes-screenshot-img, .todo-screenshot-img {
        width: 100%;
        height: auto;
    }

    .footer {
        position: relative;
        background: var(--gradient-btn);
        color: var(--second-text-color);
        text-align: center;
        padding: 1.5rem;
    }
}
